@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
  color: var(--fontColor);
}

body,
html {
  width: 100%;
  height: 100%;
  background: var(--mainBg);
  font-family: "Varela Round", sans-serif;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  height: 10vh;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.2s linear;
  text-align: center;
}

.menu li a {
  font-size: 22px;
  text-decoration: none;
  transition: all 0.45s;
}

.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  -webkit-animation: line 1s;
  animation: line 1s;
}

.menu li:hover a {
  color: #fd1414;
}

.menu li:not(:last-child) {
  margin-right: 30px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
.text-white {
  color: var(--fontColor);
}
img,
svg {
  vertical-align: middle;
  border-radius: 7px;
}
.card {
  width: 21rem;
  padding: 0;
  margin: 0;
  border-radius: 7px;
  box-shadow: 5px;
  background: var(--mainBg);
}

.btn-dark {
  color: #fff;
  background: var(--mainBg);
  border-color: var(--mainBg);
  color: var(--fontColor);
}
.bg-dark {
  background: var(--mainBg);
}
#search {
  position: relative;
  width: 100%;
}

.search input {
  height: 60px;
  text-indent: 40px;
  border: 2px;
}

.search input:focus {
  box-shadow: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375 rem 0.75 rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--fontColor);
  background: var(--mainBg);
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25 rem;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: var(--mainBg);
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: var(--mainBg);
}
:root {
  --navHeight: 70px;
  --sage: #d2cca1;
  --paleSpringBud: #dedaba;
  --goldCrayola: #e5c687;
  --richBlackForeground: #0f1a20;
  --white: #f8f8f8;
  --black: #222;
  --msuGreen: #363636;
  --gray: #eee;
}

* {
  color: var(--fontColor);
  transition: background-color 0s ease, color 0s ease;
}

.switch {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.fa-adjust {
  transform: rotate(180deg);
}

.switch input {
  display: none;
}

input:checked + .slider {
  transform: translateX(8px);
}

.light-theme {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --navBg: var(--sage);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
}

.dark-theme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--msuGreen);
  --fontColor: var(--white);
}

.slider {
  background-color: #999;
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
}
a {
  color: var(--fontColor);
  text-decoration: underline;
}

* {
  color: var(--fontColor);
}
nav ul li:hover {
  background-color: var(--navLinkHoverBg);
}

main {
  background: var(--mainBg);
}
